#cph_osm {
  line-width: 0;
}

#cph_osm
[___partition = "motorways"]
{
  line-color:#FF6600;
}

#cph_osm
[___partition = "big_streets"]
{
  line-color:#66FF00;
}

#cph_osm
[___partition = "medimum_streets"]
{
  line-color:#dd6688;
}

#cph_osm
[___partition = "small_streets"]
{
  line-color:#8866dd;
}

#cph_osm
[zoom = 0]
[___tile_leve = 0]
{
  
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 1]
[___tile_leve = 1]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 2]
[___tile_leve = 2]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 3]
[___tile_leve = 3]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 4]
[___tile_leve = 4]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 5]
[___tile_leve = 5]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 6]
[___tile_leve = 6]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 7]
[___tile_leve = 7]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 8]
[___tile_leve = 8]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 9]
[___tile_leve = 9]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 10]
[___tile_leve = 10]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 11]
[___tile_leve = 11]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 12]
[___tile_leve = 12]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 13]
[___tile_leve = 13]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom = 14]
[___tile_leve = 14]
{
  line-width:1;
  line-opacity: 0.7;
}

#cph_osm
[zoom > 14]
[___tile_leve = 15]
{
  line-width:1;
  line-opacity: 0.7;
}
